header{
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    
}
 body{
	background-image: url(../images/hintergrund.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
 
.formular-container{
	display: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: left;
}

.home-screen {
  background-color: #032f46;
  background-image: url(../images/hintergrund.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-screen .overlap-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 1554px;
  height: 987px;
}

.home-screen .overlap {
  position: relative;
  width: 1572px;
  height: 987px;
  left: -18px;
}

.home-screen .rectangle {
  width: 1554px;
  height: 987px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.home-screen .div {
  width: 1572px;
  height: 124px;
  left: 0;
  background-color: #00448c;
  position: absolute;
  top: 0;
}

.home-screen .frame {
  position: absolute;
  width: 586px;
  height: 700px;
  top: 146px;
  left: 503px;
  background-color: #000000cc;
  border-radius: 20px;
}

.home-screen .overlap-group {
  position: relative;
  width: 444px;
  height: 656px;
  top: 44px;
  left: 71px;
}

.home-screen .frame-wrapper {
  position: absolute;
  width: 444px;
  height: 547px;
  top: 109px;
  left: 0;
}

.home-screen .frame-2 {
  position: relative;
  width: 424px;
  height: 547px;
  left: 10px;
}

.home-screen .geben-sie-die-gps {
  position: absolute;
  height: 56px;
  top: 49px;
  left: -28px;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #ecf1f6;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-screen .frame-3 {
  display: flex;
  flex-direction: column;
  width: 424px;
  align-items: flex-start;
  gap: 7px;
  position: absolute;
  top: 283px;
  left: 0;
}

.home-screen .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #ecf1f6;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-screen .div-wrapper {
  display: flex;
  height: 73px;
  align-items: center;
  gap: 10px;
  padding: 35px 41px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ecf1f6;
  border-radius: 20px;
}

.home-screen .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -11.00px;
  margin-bottom: -9.00px;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-screen .frame-4 {
  display: flex;
  flex-direction: column;
  width: 424px;
  align-items: flex-start;
  gap: 7px;
  position: absolute;
  top: 153px;
  left: 0;
}

.home-screen .frame-5 {
  display: flex;
  width: 374px;
  height: 63px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 142px;
  position: absolute;
  top: 431px;
  left: 19px;
  background-color: #00448c;
  border-radius: 15px;
}

.home-screen .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-screen .group {
  width: 108px;
  height: 130px;
  top: 0;
  position: absolute;
  left: 168px;
}

.home-screen .overlap-2 {
  position: relative;
  width: 230px;
  height: 148px;
  top: -15px;
  left: -61px;
}

.home-screen .group-2 {
  position: absolute;
  width: 108px;
  height: 145px;
  top: 0;
  left: 61px;
}

.home-screen .image-wrapper {
  position: relative;
  height: 129px;
  top: 16px;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}

.home-screen .image {
  position: absolute;
  width: 108px;
  height: 126px;
  top: 3px;
  left: 0;
}

.home-screen .img {
  width: 1px;
  height: 1px;
  top: 113px;
  position: absolute;
  left: 168px;
}

.home-screen .frame-6 {
  position: absolute;
  width: 143px;
  height: 104px;
  top: 44px;
  left: 35px;
}

.home-screen .element-SEA-shepherd {
  position: absolute;
  width: 230px;
  height: 23px;
  top: 42px;
  left: 0;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #faff1f;
  font-size: 9.2px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-screen .span {
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #faff1f;
  font-size: 9.2px;
  letter-spacing: 0;
}

.home-screen .text-wrapper-4 {
  font-size: 23px;
}

.home-screen .text-wrapper-5 {
  font-size: 13.8px;
}

.home-screen .frame-7 {
  position: absolute;
  width: 1554px;
  height: 118px;
  top: 869px;
  left: 18px;
  background-color: #00448c;
}

.home-screen .frame-8 {
  position: relative;
  width: 216px;
  height: 41px;
  top: 39px;
  left: 669px;
}

.home-screen .element-sea-shepherd {
  position: absolute;
  height: 23px;
  top: 28px;
  left: -6px;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-screen .frame-9 {
  display: inline-flex;
  align-items: center;
  gap: 53px;
  position: absolute;
  top: 0;
  left: -54px;
}

.home-screen .frame-10 {
  position: absolute;
  width: 1340px;
  height: 41px;
  top: 42px;
  left: 125px;
}

.home-screen .frame-11 {
  display: inline-flex;
  align-items: center;
  gap: 44px;
  position: absolute;
  top: 4px;
  left: 1066px;
}

.home-screen .text-wrapper-6 {
  position: relative;
  width: 105px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #e5e5e5;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-screen .text-wrapper-7 {
  position: relative;
  width: 125px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #e5e5e5;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-screen .text-wrapper-8 {
  position: absolute;
  height: 41px;
  top: -1px;
  left: 0;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #e5e5e5;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
